<section ng-controller="MdiController"  >
    <div class="row">
        <div class="col-xs-1" ng-repeat="tab in tabs">
            <button class="btn btn-default btn-xs" style="width:100%" ng-click="selectTab($index)">
                TAB #{{$index + 1}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1" ng-repeat="tab in tabs">
            >> {{tab | json}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hus-tab hus-tab="tab" ng-repeat="tab in tabs"></hus-tab>
        </div>
    </div>
    <!-- Navigation -->
    <!--<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">-->
                    <!--Menu <i class="fa fa-bars"></i>-->
                <!--</button>-->
                <!--<a class="navbar-brand page-scroll" href="#page-top">-->
                    <!--<i class="fa fa-play-circle"></i> <span class="light">Start</span> Bootstrap-->
                <!--</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
            <!--<div class="collapse navbar-collapse navbar-right navbar-main-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--&lt;!&ndash; Hidden li included to remove active class from about link when scrolled up past about section &ndash;&gt;-->
                    <!--<li class="hidden">-->
                        <!--<a href="#page-top"></a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="page-scroll" href="#about" ng-class="{'active': true}">About</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</nav>-->


    <!--&lt;!&ndash; About Section &ndash;&gt;-->
    <!--<section class="content-section">-->
        <!--<button class="btn btn-lg" ng-click="removeAtZero();">removeAtZero</button>-->
        <!--<button class="btn btn-lg" ng-click="addTab();">AddTab</button>-->

        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<h2>About Grayscale</h2>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</section>-->

    <!--&lt;!&ndash;&lt;!&ndash; Download Section &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<section id="download" class="content-section text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="download-section">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2>Download Grayscal asdasde</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</section>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash; Contact Section &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<section id="contact" class="container content-section text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-8 col-lg-offset-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2>Contact Start Bootstrap</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</p>&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="list-inline banner-social-buttons">&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</section>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash; Map Section &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="map"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash; Footer &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<footer>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Copyright &copy; Your Website 2016</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</footer>&ndash;&gt;-->
</section>